{include file="public/meta" /}
<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
<script src="__STATIC__/lib/jquery/1.9.1/jquery.js"></script>
<script src="__STATIC__/lib/layer/2.4/layer.js"></script>
</head>

<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上级权限：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box" style="width:150px;">
					<select id="pid" class="select" name="pid" size="1">
						<option value="0" selected>顶级权限</option>
						{volist name="authRuleRes" id="vo"}
						<option value="{$vo.id}"><?php if($vo['level']!=0){echo '|';} echo str_repeat('-',$vo['level']*3);?>{$vo.title}</option>
						{/volist}
					</select>
				</span>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限中文名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="请输入权限中文名称" id="title" name="title">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>控制器/方法：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="请输入权限地址" id="name" name="name">
			</div>
		</div>

		<!-- <div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>启用状态：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box" style="width:150px;">
					<select id="status" class="select" name="status" size="1">
						<option value="1" selected>启用</option>
						<option value="0">禁用</option>
					</select>
				</span>
			</div>
		</div>

		<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>规则：</label>
				<!-- <div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="" placeholder="请输入角色名称" id="title" name="title">
				</div>
			</div> -->

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{//include file="public/footer" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
{//include file="public/js" /}

<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>

<script type="text/javascript">
$(function(){
	$("#form-admin-add").validate({
		rules:{
            title:{
                required:true,
            },
			ht_name:{
				required:true,
			},
			ht_leader:{
				required:true,
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "{:url('add')}",
				success: function(data){
				    if(data.code == 1) {
                        layer.msg('添加权限成功!',{icon:1,time:1000});
                    }else{
						if(data.msg)
						{
							layer.msg(data.msg,{icon:2,time:1000});
						}else{
							layer.msg('添加权限失败!',{icon:2,time:1000});
						}
					}
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('添加权限失败!',{icon:2,time:1000});
				}
			});
			// var index = parent.layer.getFrameIndex(window.name);
			// parent.$('.btn-refresh').click();
			// parent.layer.close(index);
		}
	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->

<script>
    //失去焦点时,检查合同名称是否重复
    $("#ht_name").blur(function(){
        // $.ajax({
        //     type: 'GET',
        //     url: "checkJgName",
        //     data:{name:$(this).val()},
        //     dataType: 'json',
        //     success: function(data){
        //         if (data.status == 1) {
        //             layer.alert(data.message);
        //         } else {
        //             layer.alert(data.message);
        //         }
        //     }
        // });
    });
</script>
</body>
</html>