{include file="public/meta" /}
<title></title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>  系统<span class="c-gray en">&gt;</span> 项目经费 <span class="c-gray en">&gt;</span> 纵向经费 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
		<button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
		<span class="select-box inline">
			<select name="bmid" class="select" style="width:220px;">
				<option value="">所属单位：</option>
				{volist name="bmres" id="vo"}
				<option value="{$vo.bm_id}">{if condition="$vo.level neq 0"}|{/if}<?php echo str_repeat('-',$vo['level']*4); ?>{$vo.bm_name}</option>
				{/volist}
			</select>
		</span> 
		<span class="select-box inline">
			<select name="status" class="select" style="width:100px;">
				<option value="">审核状态：</option>
				<option value="0">待审核</option>
				<option value="1">学校通过</option>
				<option value="2">学校驳回</option>
			</select>
		</span> 
		<!-- 日期范围： -->
			
		<!-- <input type="text" onfocus="WdatePicker({ maxDate:'#F{ $dp.$D(\'logmax\')||\'%y-%M-%d\' }' })" id="logmin" class="input-text Wdate" style="width:120px;">
			-
		<input type="text" onfocus="WdatePicker({ minDate:'#F{ $dp.$D(\'logmin\') }',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;"> -->
		<input type="text" name="" id="" placeholder=" 项目名称" style="width:250px" class="input-text">
		<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</div>

	<!-- 搜索的ajax提交 -->
	<script>

	</script>

	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<!--<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
				<i class="Hui-iconfont">&#xe6e2;</i> 批量删除
			</a>-->
			<a href="javascript:;" onclick="admin_add('登记项目纵向经费','{:url('add')}','900','500')" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe600;</i> 登记项目纵向经费
			</a>
		</span>
		<span class="r">共有纵向经费数据：<strong>{$count}</strong> 条</span>
	</div>

	<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
		<thead>
			<tr>
				<th scope="col" colspan="9">纵向经费登记项目列表</th>
			</tr>
			<tr class="text-c">
				<!--<th width="25"><input type="checkbox" name="" value=""></th>-->
				<th>项目名称</th>
				<th>所属单位</th>
				<th>负责人</th>
				<th>立项时间</th>
				<th>合同经费</th>
				<th>审核状态</th>
				<th>经费是否到账</th>
				<th width="200">操作</th>
			</tr>
		</thead>
		<tbody>
		{volist name="zxjf" id="vo"}
		<tr class="text-c">
			<td>{$vo.xm_name}</td>
			<td>{$vo.bmid}</td>
			<td>{$vo.leader}</td>
			<td>{$vo.lxdate}</td>
			<td>
				{$vo.htcount}
			</td>
			<td>{$vo.status}</td>
			<td>{$vo.is_dz}</td>
			<td class="td-manage" width="200">
				<!-- <a title="编辑" href="javascript:;" onclick="admin_edit('纵向项目编辑','','1','800','500')" class="ml-5" style="text-decoration:none">
					<i class="Hui-iconfont">&#xe6df;</i>
				</a> -->

				<!-- <a title="删除" href="javascript:;" onclick="admin_del(this,'')" class="ml-5" style="text-decoration:none">
					<i class="Hui-iconfont">&#xe6e2;</i>
				</a> -->

				<input class="size-S btn btn-success radius" type="button" onclick="admin_edit('经费编辑','{:url('edit',['id'=>$vo.id])}','1','800','500')" title="编辑" value="编辑" />

				<input class="size-S btn btn-danger radius" type="button" onclick="admin_del(this,'{$vo.id}')" title="删除" value="删除" />

				{if condition="$vo.is_dz eq '未到账'"}
				<input class="size-S btn btn-secondary radius" type="button" onclick="admin_dz(this,'{$vo.id}')" title="到账登记" value="到账登记" />
				{/if}

				{if condition="$vo.status eq '待审核'"}
				<input class="size-S btn btn-primary radius" type="button" onclick="admin_check(this,'{$vo.id}')" title="审核" value="审核" />
				{/if}
			</td>
		</tr>
		{/volist}

		</tbody>
	</table>
	<style>
		/*分页*/
		.pagination {}
		.pagination li {display: inline-block;margin-right: -1px;padding: 5px;border: 1px solid #e2e2e2;min-width: 20px;text-align: center;}
		.pagination li.active {background: #009688;color: #fff;border: 1px solid #009688;}
		.pagination li a {display: block;text-align: center;}
	</style>
	<div style="text-align:center;margin-top:18px;">{$page}</div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="public/footer" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
{include file="public/js" /}
<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*经费-新增*/
function admin_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*经费-删除*/
function admin_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
        //此处请求后台程序，下方是成功后的前台处理……
        $.get("{:url('del')}",{id:id})
        $(obj).parents("tr").remove();
        layer.msg('已删除!',{icon:1,time:1000});
	});
}
/*经费-审核*/
function admin_check(obj,id){
	//询问框
	layer.confirm('审核通过吗？', {
		    btn: ['通过','驳回'] //按钮
		}, function(){
			$.get("{:url('check')}",{id:id,status:1});
		    layer.msg('审核成功', {icon: 1});
		}, function(){
			$.get("{:url('check')}",{id:id,status:2});
		    layer.msg('驳回成功', {icon: 1});
	});
}
/*经费-到账登记*/
function admin_dz(obj,id){
	//询问框
	layer.confirm('经费到账了吗？', {
		    btn: ['已到账','未到账'] //按钮
		}, function(){
			$.get("{:url('dz')}",{id:id,is_dz:1});
		    layer.msg('到账登记成功', {icon: 1});
		});
}
/*经费-编辑*/
function admin_edit(title,url,id,w,h){
    $.get("{:url('edit')}",{id:id}); //执行控制器中的编辑操作
	layer_show(title,url,w,h);
}
</script>
</body>
</html>