<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <!-- <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> 资讯管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">资讯管理</a></li>
                </ul>
            </dd>
        </dl> -->
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe625;</i> 首页<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('welcome')}" data-title="我的桌面" href="javascript:void(0)">我的桌面</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe627;</i> 科研办公<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('gonggao/lst')}" data-title="通知公告列表" href="javascript:void(0)">通知公告列表</a></li>
                    <li><a data-href="{:url('downloadfile/lst')}" data-title="下载文件专区" href="javascript:void(0)">下载文件专区</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe62c;</i> 科研队伍<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('user/lst')}" data-title="科研人员列表" href="javascript:void(0)">科研人员列表</a></li>
                    <li><a data-href="{:url('department/lst')}" data-title="组织部门列表" href="javascript:void(0)">组织部门列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe63c;</i> 科研平台<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('jigou/lst')}" data-title="研究机构列表" href="javascript:void(0)">研究机构列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe643;</i> 纵向项目<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('zxxm/lst')}" data-title="纵向项目列表" href="javascript:void(0)">纵向项目列表</a></li>
                    <li><a data-href="picture-list.html" data-title="图片管理" href="javascript:void(0)">项目申报</a></li>
                    <li><a data-href="picture-list.html" data-title="图片管理" href="javascript:void(0)">项目评审</a></li>
                    <li><a data-href="picture-list.html" data-title="图片管理" href="javascript:void(0)">项目立项</a></li>
                    <!-- <li><a data-href="picture-list.html" data-title="图片管理" href="javascript:void(0)">项目变更</a></li> -->
                    <li><a data-href="picture-list.html" data-title="图片管理" href="javascript:void(0)">项目中检</a></li>
                    <li><a data-href="picture-list.html" data-title="图片管理" href="javascript:void(0)">项目结项</a></li>
                    <!-- <li><a data-href="picture-list.html" data-title="图片管理" href="javascript:void(0)">项目分类</a></li> -->
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe636;</i> 横向项目<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('hxxmht/lst')}" data-title="合同列表" href="javascript:void(0)">合同列表</a></li>
                    <li><a data-href="{:url('hxxm/lst')}" data-title="横向项目列表" href="javascript:void(0)">横向项目列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe6b7;</i> 项目经费<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('count/zlst')}" data-title="纵向经费" href="javascript:void(0)">纵向经费</a></li>
                    <li><a data-href="{:url('count/hlst')}" data-title="横向经费" href="javascript:void(0)">横向经费</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe639;</i> 科研成果<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('paper/lst')}" data-title="论文成果" href="javascript:void(0)">论文成果</a></li>
                    <li><a data-href="picture-list.html" data-title="图片管理" href="javascript:void(0)">著作成果</a></li>
                    <li><a data-href="picture-list.html" data-title="图片管理" href="javascript:void(0)">专利成果</a></li>
                    <li><a data-href="picture-list.html" data-title="图片管理" href="javascript:void(0)">艺术作品</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe6cc;</i> 知识产权<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('zlcg/zlcglst')}" data-title="专利成果管理" href="javascript:void(0)">专利成果</a></li>
                    <li><a data-href="picture-list.html" data-title="图片管理" href="javascript:void(0)">著作权</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe727;</i> 科研奖励<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('cghj/lst')}" data-title="成果获奖列表" href="javascript:void(0)">成果获奖列表</a></li>
                </ul>
            </dd>
        </dl>
        <!-- <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="member-list.html" data-title="会员列表" href="javascript:;">会员列表</a></li>
                    <li><a data-href="member-del.html" data-title="删除的会员" href="javascript:;">删除的会员</a></li>
                    <li><a data-href="member-level.html" data-title="等级管理" href="javascript:;">等级管理</a></li>
                    <li><a data-href="member-scoreoperation.html" data-title="积分管理" href="javascript:;">积分管理</a></li>
                    <li><a data-href="member-record-browse.html" data-title="浏览记录" href="javascript:void(0)">浏览记录</a></li>
                    <li><a data-href="member-record-download.html" data-title="下载记录" href="javascript:void(0)">下载记录</a></li>
                    <li><a data-href="member-record-share.html" data-title="分享记录" href="javascript:void(0)">分享记录</a></li>
                </ul>
            </dd>
        </dl> -->
        {if condition="$Think.session.group_id eq 1"}
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('AuthGroup/lst')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
                    <li><a data-href="{:url('AuthRule/lst')}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
                    <li><a data-href="admin-list.html" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
                </ul>
            </dd>
        </dl>
        {/if}
    </div>

    <div class="menu_dropdown bk_2" style="display:none">
        <dl id="menu-bbbb">
            <dt><i class="Hui-iconfont">&#xe616;</i> 通知公告<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('gonggao/lst')}" data-title="公告列表" href="javascript:void(0)">公告列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-bbbb1">
            <dt><i class="Hui-iconfont">&#xe616;</i> 下载专区<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('downloadfile/lst')}" data-title="文件列表" href="javascript:void(0)">文件列表</a></li>
                </ul>
            </dd>
        </dl>
    </div>

    <div class="menu_dropdown bk_2" style="display:none">
        <dl id="menu-bbbbb">
            <dt><i class="Hui-iconfont">&#xe616;</i> 科研人员<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('user/lst')}" data-title="人员列表" href="javascript:void(0)">人员列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-bbbbb1">
            <dt><i class="Hui-iconfont">&#xe616;</i> 组织结构<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('department/lst')}" data-title="组织部门管理" href="javascript:void(0)">部门列表</a></li>
                </ul>
            </dd>
        </dl>
    </div>

    <div class="menu_dropdown bk_2" style="display:none">
        <dl id="menu-ccccc">
            <dt><i class="Hui-iconfont">&#xe616;</i> 科研机构<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('jigou/lst')}" data-title="机构列表" href="javascript:void(0)">机构列表</a></li>
                </ul>
            </dd>
        </dl>
        <!--<dl id="menu-ccccc1">-->
            <!--<dt><i class="Hui-iconfont">&#xe616;</i> 科研团队<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>-->
            <!--<dd>-->
                <!--<ul>-->
                    <!--<li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">团队列表</a></li>-->
                <!--</ul>-->
            <!--</dd>-->
        <!--</dl>-->
    </div>

    <div class="menu_dropdown bk_2" style="display:none">
        <dl id="menu-dddd">
            <dt><i class="Hui-iconfont">&#xe616;</i> 项目申报<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('zxxm/lst')}" data-title="项目申报列表" href="javascript:void(0)">项目申报列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-dddd1">
            <dt><i class="Hui-iconfont">&#xe616;</i> 项目评审<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">项目评审列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-dddd2">
            <dt><i class="Hui-iconfont">&#xe616;</i> 项目立项<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">项目立项列表</a></li>
                </ul>
            </dd>
        </dl>
        <!-- <dl id="menu-dddd3">
            <dt><i class="Hui-iconfont">&#xe616;</i> 项目变更<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">项目变更列表</a></li>
                </ul>
            </dd>
        </dl> -->
        <dl id="menu-dddd4">
            <dt><i class="Hui-iconfont">&#xe616;</i> 项目中检<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">项目中检列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-dddd5">
            <dt><i class="Hui-iconfont">&#xe616;</i> 项目结项<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">项目结项列表</a></li>
                </ul>
            </dd>
        </dl>
        <!-- <dl id="menu-dddd5">
            <dt><i class="Hui-iconfont">&#xe616;</i> 项目分类<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">项目分类列表</a></li>
                </ul>
            </dd>
        </dl> -->
    </div>

    <div class="menu_dropdown bk_2" style="display:none">
        <dl id="menu-eeee">
            <dt><i class="Hui-iconfont">&#xe616;</i> 横向项目<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('hxxmht/lst')}" data-title="合同列表" href="javascript:void(0)">合同列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-eeee1">
            <dt><i class="Hui-iconfont">&#xe616;</i> 项目列表<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('hxxm/lst')}" data-title="横向项目列表" href="javascript:void(0)">横向项目列表</a></li>
                </ul>
            </dd>
        </dl>
    </div>

    <div class="menu_dropdown bk_2" style="display:none">
        <dl id="menu-ffff">
            <dt><i class="Hui-iconfont">&#xe616;</i> 纵向项目<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('count/zlst')}" data-title="纵向项目经费列表" href="javascript:void(0)">纵向项目经费列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-ffff1">
            <dt><i class="Hui-iconfont">&#xe616;</i> 纵向项目<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('count/hlst')}" data-title="横向项目经费列表" href="javascript:void(0)">横向项目经费列表</a></li>
                </ul>
            </dd>
        </dl>
    </div>

    <div class="menu_dropdown bk_2" style="display:none">
        <dl id="menu-gggg">
            <dt><i class="Hui-iconfont">&#xe616;</i> 论文成果<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('paper/lst')}" data-title="论文成果" href="javascript:void(0)">论文成果列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-gggg1">
            <dt><i class="Hui-iconfont">&#xe616;</i> 著作成果<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">著作成果列表</a></li>
                </ul>
            </dd>
        </dl>
    </div>

    <div class="menu_dropdown bk_2" style="display:none">
        <dl id="menu-hhhh">
            <dt><i class="Hui-iconfont">&#xe616;</i> 论文成果<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">论文列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-hhhh1">
            <dt><i class="Hui-iconfont">&#xe616;</i> 专利成果<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">专利成果列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-hhhh1">
            <dt><i class="Hui-iconfont">&#xe616;</i> 艺术作品<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">艺术作品列表</a></li>
                </ul>
            </dd>
        </dl>
    </div>

    <div class="menu_dropdown bk_2" style="display:none">
        <dl id="menu-iiii">
            <dt><i class="Hui-iconfont">&#xe616;</i> 成果获奖<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">获奖列表</a></li>
                </ul>
            </dd>
        </dl>
    </div>

    <!-- <div class="menu_dropdown bk_2" style="display:none">
        <dl id="menu-jjjj">
            <dt><i class="Hui-iconfont">&#xe616;</i> 主办会议<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">会议列表</a></li>
                    <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">会议类型</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-jjjj1">
            <dt><i class="Hui-iconfont">&#xe616;</i> 学术讲座<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">学术讲座列表</a></li>
                </ul>
            </dd>
        </dl>
    </div> -->

    <!-- <div class="menu_dropdown bk_2" style="display:none">
            <dl id="menu-kkkk">
                <dt><i class="Hui-iconfont">&#xe616;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">用户列表</a></li>
                    </ul>
                </dd>
            </dl>
            <dl id="menu-jjjj1">
                <dt><i class="Hui-iconfont">&#xe616;</i> 密码维护<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">个人密码维护</a></li>
                    </ul>
                </dd>
            </dl>
            <dl id="menu-jjjj1">
                <dt><i class="Hui-iconfont">&#xe616;</i> 机构调整<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">机构列表</a></li>
                    </ul>
                </dd>
            </dl>
            <dl id="menu-jjjj1">
                <dt><i class="Hui-iconfont">&#xe616;</i> 人员调整<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                <dd>
                    <ul>
                        <li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">人员列表</a></li>
                    </ul>
                </dd>
            </dl>
        </div> -->
</aside>